# Virtual environments
venv/
__pycache__/

# Environment files
.env

# OS files
.DS_Store

# Editor files
*.log
*.swp
*.swo
.idea/
.vscode/

#voice note storage
backend/voice_notes/frontend/.parcel-cache/*
frontend/.parcel-cache/*
*.pyc
__pycache__/
dist/
node_modules/